* {
  background-image: url("background.png");
  background-color: #e5e5d9;
}
#table,
.table2,
.table3 {
  border-color: black;
  border: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

td {
  border: 10px solid #08068c;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

h1 {
  text-align: center;
  color: #120a0a;
}

button {
  height: 60px;
  width: 60px;
}

#winstatus {
  height: 50px;
  width: 390px;
}

.table3,
.table2 {
  color: rgb(222, 86, 23);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

button {
  color: rgb(13, 80, 13);
  font-size: 26px;
}

#p1,
#scoreX,
#scoreY,
#p2 {
  color: #1b0db7;
  font-weight: bold;
  height: 40px;
  width: 100px;
}

.table2 td,
.table3 td {
  border-color: rgb(19, 68, 42);
}
