*{
    background-color: #7f7dc4;
}
#table,
.table2,
.table3 {
  border-color: black;
  border: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

td {
  border: 10px solid #08068c;
  height: 130px;
  width: 130px;
  text-align: center;
  vertical-align: middle;
}

h1 {
  text-align: center;
  color: #120a0a;
}

button {
  height: 130px;
  width: 130px;
}

#winstatus {
  height: 100px;
  width: 390px;
}

.table3,
.table2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

button {
  font-size: 26px;
}
